@model IEnumerable<GRUPO_4_CE2_K.Models.Inscripcion>

@{
    ViewData["Title"] = "Listado de Inscripciones";
}

<h1>Listado de Inscripciones</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Evento</th>
            <th>User ID</th>
            <th>Fecha de Registro</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int contador = 1; // Para numerar las filas
            foreach (var item in Model)
            {
                <tr>
                    <td>@contador</td>
                    <td>@item.Event?.Title</td>
                    <td>@item.UserId- .com</td>
                    <td>@item.RegisteredAt.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
                contador++;
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No hay inscripciones registradas.</td>
            </tr>
        }
    </tbody>
</table>
