@model GRUPO_4_CE2_K.Models.Inscripcion

@{
    ViewData["Title"] = "Editar Inscripción";
}

<h1>Editar Inscripción</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="EventId" class="control-label">Evento</label>
        <input asp-for="EventId" class="form-control" />
        <span asp-validation-for="EventId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserId" class="control-label">Usuario</label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
